.banner {
    margin-bottom: 40px;
}
.banner-wrapper {
    overflow: auto;
    scroll-behavior: auto;
    scrollbar-width: none;
    width: 100%;
}
.banner-wrapper::-webkit-scrollbar {
    height: 0;
}
.banner-line {
    display: grid;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.banner-slide {
    position: relative;
    height: 500px;
    border-radius: 20px;
}
.banner__content {
    position: relative;
}
.dots-wrapper {
    position: absolute;
    margin-left: 66px;
    bottom: 60px;
    display: flex;
    gap: 12px;
}
.dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    opacity: 0.35;
    background-color: #82b723;
}
.dot:hover, .dot_active {
    opacity: 1;
}
.banner-info {
    position: absolute;
    top: 119px;
    left: 66px;
}
.banner-title {
    font-size: 48px;
    font-weight: 300;
    max-width: 650px;
    color: #ffffff;
}
.banner-btn {
    background-color: #82b723;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding: 22px 43px 22px 43px;
}

@media (max-width: 640px) {
    .banner-title {
        font-size: 34px;
    }
    .banner-info {
        top: 100px;
        left: 50px;
    }
    .dots-wrapper {
        margin-left: 50px;
    }
}
@media (max-width: 600px) {
    .banner-info {
        left: 30px;
        padding-right: 20px;
    }
    .dots-wrapper {
        margin-left: 30px;
    }
}
@media (max-width: 358px) {
    .banner-title {
        font-size: 30px;
    }
    .banner-btn {
        padding: 20px;
    }
}