.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 34px;
}
.footer__content {
    padding-top: 22px;
    padding-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer__item:nth-child(3), .footer__item:nth-child(4) {
    justify-self: end;
}

@media (max-width: 853px) {
    .footer__content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .footer__item:nth-child(3), .footer__item:nth-child(4) {
        justify-self: start;
    }
}
.footer__text {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}
.footer__item {
    display: flex;
    gap: 8px;
}

@media (max-width: 889px) {
    .footer1 {
        display: none;
    }
    .footer__content {
        flex-wrap: wrap;
    }
}