.header__nav {
    display: flex;
    align-items: center;
    height: 49px;
    justify-content: space-between;
}
header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}
.header {
    background-color: var(--main-white-bg-color);
    padding-top: 17px;
    padding-bottom: 17px;
}
.burger {
    display: none;
}
.gt-item {
    position: relative;
    width: 160px;
    align-self: flex-start;
}
.gt-item .gtranslate_wrapper {
    position: absolute;
    top: 0;
}
.gt_float_switcher .gt-selected .gt-current-lang {
    padding: 5px 10px !important;
}
.gt_float_switcher {
    border-radius: 10px !important;
}
.nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.first_header {
    top: 0;
    background-color: var(--main-bg-color);
}
.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.nav-items {
    display: flex;
    gap: 6px;
}
.mobile {
    display: flex;
    align-items: center;
    gap: 20px;
}
.soc_media {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-gap {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}
.icon-white {
    filter: brightness(0) invert(1);
}
.current_city {
    cursor: pointer;
}
.choose_city {
    top: 32px;
    position: fixed;
    display: none;
    background-color: #fff;
    border: 1px solid var(--main-bg-color);
    padding: 5px 1px;
    z-index: 101;
}
.choose_city.active {
    display: block;
}
.choose_city > a {
    display: block;
    color: #000;
    padding: 0 10px;
}
.choose_city > a:hover {
    background-color: var(--main-bg-color);
    color: #fff;
}
.whatsapp {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    border: 1px solid var(--main-bg-color);
    background-color: inherit;
    padding: 8px 20px 8px 20px;
}
.back-call {
    background-color: var(--white);
    color: var(--main-bg-color);
    padding: 8px 20px 8px 20px;
}
button {
    border-radius: 8px;
    border: none;
}
.menu {
    list-style: none;
    display: flex;
    gap: 40px;
}
.menu__item {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

@media (max-width: 1140px) {
    .nav-text {
        font-size: 16px;
    }
    .menu {
        gap: 15px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .nav-gap {
        gap: 16px;
    }
    .logo {
        width: 170px;
        object-fit: contain;
    }
}

@media (max-width: 868px) {
    .menu {
        gap: 10px;
        padding-left: 0;
    }
}
@media (max-width: 831px) {
    .soc_media {
        display: none;
    }
    .nav-gap {
        gap: 10px;
    }
    .logo {
        width: 140px;
    }
}
@media (max-width: 972px) {
    .nav-text {
        font-size: 16px;
    }
    .menu {
        gap: 15px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .nav-gap {
        gap: 16px;
    }
    .menu__item {
        font-size: 17px;
    }
    .nav-gap {
        align-items: center;
    }
    .burger {
        display: block;
        width: 40px;
        z-index: 2;
    }
    .mobile.active {
        position: fixed;
        align-items: flex-start;
        bottom: 100px;
        z-index: 100;
        left: 50px;
        display: flex;
        width: 50%;
        gap: 10px;
        transition: 0.5s all;
    }
    .menu {
        display: flex;
        z-index: 2;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        position: fixed;
        top: 0;
        margin-top: 0;
        padding-top: 140px;
        height: 100vh;
        right: -120%;
        transition: 0.5s all;
        background-color: var(--main-white-bg-color);
    }
    .menu__item {
        margin-left: 50px;
        font-size: 24px;
    }
    .burger-span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        margin-bottom: 9px;
        transition: 0.5s all;
    }
    .menu_active {
        right: 0;
    }
    .lock {
        overflow: hidden;
    }
    .burger_active span {
        margin-bottom: -4px;
    }
    .burger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .burger_active span:nth-child(2) {
        display: none;
    }
    .burger_active span:nth-child(3) {
        transform: rotate(45deg);
    }
}

@media (max-width: 630px) {
    .whatsapp, .back-call {
        padding: 8px;
    }
    .header__nav {
        gap: 10px;
    }
}
@media (max-width: 584px) {

    .menu__item {
        margin-left: 20px;
    }
    .mobile_active {
        right: -20px;
    }
}
@media (max-width: 580px) {
    .phone_number {
        display: none;
    }
}
@media (max-width: 400px) {
    .whatsapp, .back-call {
        font-size: 14px;
        padding: 5px;
    }
    .nav-text {
        font-size: 14px;
    }
    .mobile .nav-text {
        font-size: 15px;
    }
    .mobile .icon {
        width: 10px;
        height: 10px;
    }
}