.property-photos {
    margin-top: 189px;
}
.property-photos__title {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin: 0;
}
.wishbtn {
    margin-top: 10px;
}
.property-photos__price {
    font-size: 26px;
    color: var(--main-bg-color);
    justify-self: end;
}
.predstavitel {
    padding-left: 10px;
    display: flex;
    gap: 19px;
    align-items: center;
}
.foto_predstavitelya {
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 15px;
}
.predstavitel_name {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.predstavitel_subtitle {
    margin-top: 13px;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}
.distances {
    position: absolute;
    top: 107%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.property-location-second {
    position: relative;
}
.distances_item {
    display: flex;
    gap: 19px;
}
.call-to-action {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.form-input {
    background-color: #fff;
    opacity: .65;
    border-radius: 14px;
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 17px 22px 19px 23px;
}
.form-input::placeholder {
    color: #616161;
    font-size: 20px;
}
.submit {
    font-size: 20px;
    color: var(--main-bg-color);
    width: 100%;
    padding: 17px 22px 15px 22px;
    border-radius: 14px;
    background-color: var(--white);
}
.property-photos__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.property-photos {
    border-top: 1px solid var(--main-bg-color);
}
.property-photos__content, .property-additional-information {
    display: grid;
    grid-template-columns: 1fr 364px;
    gap: 31px;
}
.property-additional-information_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.pr_id {
    font-size: 16px;
    color: #000;
    justify-self: end;
}
.form {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 26px 42px;
}
form > p {
    display: flex;
    flex-direction: column;
}
.wpcf7-not-valid-tip {
    margin-top: 10px;
}
.property-slider {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.property-slider::-webkit-scrollbar {
    height: 0;
}
.property-photos-line {
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.property-photos__main-photo {
    width: 100%;
    border-radius: 20px;
}
.property-photos__photo {
    width: 135px;
    height: 85px;
    object-fit: cover;
    border-radius: 14px;
}
.property-photos__body {
    overflow: hidden;
}
#next,
#prev {
    color: var(--main-bg-color);
    display: inline-block;
    font: normal bold 2em Arial,sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: auto;
}

#next,
#prev { padding: 1em 0.5em }

#next { text-align: right }

#next:before,
#next:after,
#prev:before,
#prev:after {
    background: var(--main-bg-color);
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.3em;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0.8em;
}

#prev:before,
#prev:after { left: 0 }

#next:before,
#prev:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next:after,
#prev:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#prev:after,
#next:before { margin-top: -.36em }

#next:hover,
#next:focus,
#prev:hover,
#prev:focus { color: #000 }

#next:hover:before,
#next:hover:after,
#next:focus:before,
#next:focus:after,
#prev:hover:before,
#prev:hover:after,
#prev:focus:before,
#prev:focus:after { background: #000 }

.property-photos__nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 55px;
    padding-right: 55px;
}
.icon-green {
    width: 62px;
    height: 62px;
    border-radius: 14px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-green > img {
    width: 70%;
    object-fit: contain;
}
.property-location__info {
    display: flex;
    align-items: center;
    gap: 23px;
}
.property-location__subtitle {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
}
.property-location__title {
    font-size: 24px;
    color: #2d2d2d;
    font-weight: 700;
}
.property-location__body {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.map {
    height: 100%;
}
ymaps {
    border-radius: 20px;
}
.property-location__content {
    display: grid;
    grid-template-columns: 38% 62%;
}
.property-location {
    margin-top: 40px;
    margin-bottom: 76px;
    background-color: #f3f3f3;
    padding-bottom: 40px;
}
.property-info__content {
    margin: 0 auto;
}
.property-info {
    margin-bottom: 40px;
}
.convenience {
    display: flex;
    align-items: center;
    gap: 9px;
}
.distance_img {
    object-fit: contain;
}
.flat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    margin-bottom: 40px;
    font-size: 18px;
}
.flat, .property-info__text, .additional_convenience, .service {
    background-color: #fff;
    border-radius: 20px;
    padding: 24px 36px;
}
.flat_type {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-bg-color);
    margin-bottom: 16px;
}
.flat_btn {
    background-color: var(--main-bg-color);
    color: var(--white);
    padding: 10px 45px;
    display: block;
    margin: 0 auto;
}
.flat_price {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--main-bg-color);
    margin-bottom: 10px;
}
.additional_convenience {
    margin-top: 40px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.property-info__btn {
    margin-top: 38px;
    background-color: var(--main-bg-color);
    font-size: 18px;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    padding: 15px 43px 15px 43px;
}
.property-info__text {
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.33;
    font-size: 18px;
    color: #2d2d2d;
    font-weight: normal;
}
.property-info__title {
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
    color: #2d2d2d;
    text-align: center;
}
.property-same__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 59px 22px;
    margin-top: 40px;
}

@media (max-width: 1140px) {
    .property-photos__nav {
        padding-left: 38px;
        padding-right: 38px;
    }
}

@media (max-width: 1000px) {
    .property-photos__content {
        grid-template-columns: 1fr;
    }
    .property-additional-information {
        grid-template-columns: 1fr;
    }
    .property-photos__nav {
        padding-left: 82px;
        padding-right: 82px;
    }
    .property-same__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .property-location__content {
        display: flex;
        flex-direction: column;
    }
    .map {
        margin-top: 50px;
        height: 400px;
    }
    .property-location__body {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .property-location__info {
        width: 183px;
        flex-direction: column;
        justify-content: center;
    }
    .property-location__text {
        text-align: center;
    }
}

@media (max-width: 880px) {
    .distances {
        margin-top: 40px;
    }
    .property-same__content {
        margin-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .flat {
        grid-template-columns: auto;
    }
    .flat_btn, .flat_price {
        text-align: left;
        margin: 0;
    }
    .flat_price {
        margin-top: 10px;
    }
    .distances {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
    .property-photos__nav {
        padding-right: 0;
        padding-left: 0;
    }
    .property-info__content {
        padding: 0;
    }
    .property-same__content {
        grid-template-columns: 1fr;
    }
    .property-info__btn {
        display: block;
        margin: 20px auto;
    }
    .form {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 482px) {
    .property-additional-information_item {
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    .pr_id {
        justify-self: start;
    }
}
@media (max-width: 417px) {
    .additional_convenience {
        grid-template-columns: auto;
    }
}

@media (max-width: 360px) {
    .property-photos__info {
        display: flex;
        flex-wrap: wrap;
    }
}