.active__tabs {
    position: relative;
    margin-top: 50px;
}
.active__tabs input {
    display: none;
}
.btn {
    font-size: 28px;
    font-weight: 300;
    color: var(--main-bg-color);
    text-decoration: none;
    display: inline;
    margin-left: 19px;
}
.btn:hover {
    transform: translateY(-5px);
}
.active__tabs input:checked + label {
    height: 65px;
    background-color: var(--main-bg-color);
    color: #fff;
    transform: translateY(-5px);
    padding: 12px 25px 10px 25px;
    font-weight: 400;
    border-radius: 12px 12px 0 0;
}
.favorites-list,
.result__block,
.btn-1:checked ~ .tabs__body .tabs__block:nth-child(1),
.btn-2:checked ~ .tabs__body .tabs__block:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 59px 22px;
}
.tabs__block {
    display: none;
}
.tabs__sub {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tabs__city, .tabs__ID {
    color: #383838;
    font-size: 14px;
    font-weight: 300;
}
.tabs__item {
    height: 500px;
    position: relative;
}
.tabs__price {
    position: absolute;
    bottom: 67px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: var(--main-bg-color);
}
.tabs__body {
    margin-top: 10px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    padding: 30px 13px 30px 13px;
    margin-bottom: 59px;
}
.tabs__btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 160px;
    align-items: end;
    gap: 11px;
}
.one_btn {
    grid-template-columns: 1fr !important;
}
.simplefavorites-clear {
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 5px 25px;
    font-size: 20px;
}
.tabs__btn, .simplefavorite-button {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 54px;
    color: var(--white);
    font-size: 20px;
    font-weight: normal;
}
.simplefavorite-button {
    font-size: 32px;
}
.simplefavorite-button.active {
    opacity: 1 !important;
    font-size: 20px;
}

.tabs__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #0f100d;
    font-weight: 500;
}
.tabs__img {
    width: 100%;
    height: 233px;
    object-fit: cover;
    border-radius: 15px;
}
.tabs__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tabs__graphics {
    display: flex;
    gap: 9px;
}
.tabs__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #0f100d;
}
.see_more {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    background-color: var(--main-bg-color);
    padding: 10px 25px;
    display: block;
    margin: 50px auto 0 auto;
}
.nav__items {
    margin-top: 46px;
    margin-bottom: 23px;
    display: flex;
    gap: 66px;
    padding-left: 52px;
}

@media (max-width: 1000px) {
    .favorites-list,
    .result__block,
    .btn-1:checked ~ .tabs__body .tabs__block:nth-child(1),
    .btn-2:checked ~ .tabs__body .tabs__block:nth-child(2){
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 740px) {
    .btn {
        font-size: 20px;
    }
    .see_more {
        width: 100%;
    }
    .favorites-list,
    .result__block,
    .btn-1:checked ~ .tabs__body .tabs__block:nth-child(1),
    .btn-2:checked ~ .tabs__body .tabs__block:nth-child(2){
        grid-template-columns: 1fr;
    }
}
@media (max-width: 530px) {
    .btn {
        font-size: 18px;
    }
    .tabs__btn {
        font-size: 24px;
    }
    .active__tabs input:checked + label {
        padding: 12px 10px 10px 10px;
    }
}
@media (max-width: 461px) {
    .btn {
        font-size: 16px;
        margin-left: 10px;
    }
}
@media (max-width: 400px) {
    .btn {
        font-size: 15px;
        margin-left: 5px;
    }
    .tabs__body {
        border-radius: 8px;
    }
}
@media (max-width: 360px) {
    .btn {
        font-size: 14px;
        margin-left: 0px;
    }
    .tabs__body {
        border-radius: 0px;
    }
}
@media (max-width: 330px) {
    .btn {
        font-size: 13px;
    }
}