.property-photos__title {
    font-size: 26px;
    font-weight: 500;
    color: #000;
}
.property-photos__price {
    font-size: 26px;
    font-weight: 900;
    color: #82b723;
    justify-self: end;
}
.interested {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.call-to-action {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.form-input {
    background-color: #fff;
    opacity: .65;
    border-radius: 14px;
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 17px 22px 19px 23px;
}
.form-input::placeholder {
    color: #616161;
    font-size: 20px;
}
.submit {
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 17px 22px 15px 22px;
    border-radius: 14px;
    background-color: #000;
}
.property-photos__info {
    display: grid;
    grid-template-columns: 62% 38%;
    align-items: center;
}
.property-photos {
    border-top: 1px solid #82b723;
}
.property-photos__content {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 20px;
}
.form {
    background-color: #82b723;
    border-radius: 20px;
    padding: 47px 31px 42px 38px;
}
form {
    display: flex;
    gap: 18px;
    flex-direction: column;
}
.property-slider {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.property-slider::-webkit-scrollbar {
    height: 0;
}
.property-photos-line {
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.property-photos__main-photo {
    width: 100%;
    border-radius: 20px;
}
.property-photos__photo {
    width: 135px;
    height: 85px;
    object-fit: cover;
    border-radius: 14px;
}
.property-photos__body {
    overflow: hidden;
}
#next,
#prev {
    color: #82b723;
    display: inline-block;
    font: normal bold 2em Arial,sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: auto;
}

#next,
#prev { padding: 1em 0.5em }

#next { text-align: right }

#next:before,
#next:after,
#prev:before,
#prev:after {
    background: #82b723;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    content: "";
    display: block;
    height: 0.3em;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0.8em;
}

#prev:before,
#prev:after { left: 0 }

#next:before,
#prev:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#next:after,
#prev:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#prev:after,
#next:before { margin-top: -.36em }

#next:hover,
#next:focus,
#prev:hover,
#prev:focus { color: #000 }

#next:hover:before,
#next:hover:after,
#next:focus:before,
#next:focus:after,
#prev:hover:before,
#prev:hover:after,
#prev:focus:before,
#prev:focus:after { background: #000 }

.property-photos__nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 28px;
    padding-right: 28px;
}
.icon-green {
    width: 81px;
    height: 81px;
    border-radius: 14px;
    background-color: #82b723;
    display: flex;
    align-items: center;
    justify-content: center;
}
.property-location__info {
    display: flex;
    align-items: center;
    gap: 23px;
}
.property-location__subtitle {
    font-size: 20px;
    color: #000;
    font-weight: normal;
    margin-bottom: 15px;
}
.property-location__title {
    font-size: 24px;
    color: #2d2d2d;
    font-weight: 700;
}
.property-location__body {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
ymaps {
    border-radius: 20px;
}
.property-location__content {
    display: grid;
    grid-template-columns: 38% 62%;
}
.property-location {
    margin-top: 72px;
    margin-bottom: 76px;
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}
.property-info__content {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 29px;
    margin-top: 62px;
}
.property-info {
    margin-bottom: 130px;
}
.grey {
    background-color: #f3f3f3;
    padding: 34px 32px 34px 60px;
    border-radius: 14px;
    line-height: 1.33;
    font-size: 18px;
    color: #2d2d2d;
    font-weight: normal;
}
.property-info__btn {
    margin-top: 38px;
    background-color: #82b723;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    padding: 15px 43px 15px 43px;
}
.property-info__text {
    line-height: 1.33;
    font-size: 18px;
    color: #2d2d2d;
    font-weight: normal;
}
.property-info__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    color: #2d2d2d;
    text-align: center;
}
.property-same__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 59px 22px;
    margin-top: 40px;
}

@media (max-width: 1140px) {
    .property-photos__nav {
        padding-left: 38px;
        padding-right: 38px;
    }
}

@media (max-width: 1000px) {
    .property-photos__content {
        grid-template-columns: 1fr;
    }
    .property-photos__nav {
        padding-left: 82px;
        padding-right: 82px;
    }
    .property-same__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .property-location__content {
        display: flex;
        flex-direction: column;
    }
    .map {
        margin-top: 50px;
        height: 400px;
    }
    .property-location__body {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .property-location__info {
        width: 183px;
        flex-direction: column;
        justify-content: center;
    }
    .property-location__text {
        text-align: center;
    }
}

@media (max-width: 880px) {
    .property-same__content {
        margin-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .property-photos__info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .property-photos__nav {
        padding-right: 0;
        padding-left: 0;
    }
    .property-info__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .property-same__content {
        grid-template-columns: 1fr;
    }
    .property-info__btn {
        display: block;
        margin: 20px auto;
    }
    .form {
        padding-left: 25px;
        padding-right: 25px;
    }
}