.search {
    background-color: #82b723;
    padding-top: 48px;
    padding-bottom: 47px;
}
.title {
    font-size: 30px;
    margin-top: 0;
    font-weight: 600;
    color: #fff;
}
.search__body {
    margin-top: 31px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 60px;
}
.price-input {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 12px;
}
.search__label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
.mult-select-tag .body {
    margin-top: 12px;
    background-color: rgba(255, 255, 255, .22);
}
.mult-select-tag ul li, option {
    color: #000;
}
.mult-select-tag .item-container {
    background: #fff;
    border: none;
    color: #000;
}
.search-input::-webkit-outer-spin-button,
.search-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-input {
  -moz-appearance: textfield;
  width: 150px;
}
select, .search-input {
    margin-top: 12px;
    background-color: rgba(255, 255, 255, .22);
    width: 100%;
    height: 40px;
    color: #fff;
    border: none;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 10px;
    appearance: none;
}
.search-input {
    margin-top: 0;
}
.search-input::placeholder {
    color: #fff;
}
.search__btn {
    background-color: #0f100d;
    color: #ffffff;
    font-size: 24px;
    height: 56px;
    font-weight: 300;
    padding: 15px 86px 15px 86px;
    align-self: flex-end;
}

@media (max-width: 1000px) {
    .search__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .search__body {
        grid-template-columns: 1fr;
    }
}