.service {
    padding: 29px 30px 41px 25px;
    border-radius: 15px;
    flex: 30%;
}
.service__btn {
    margin-top: 20px;
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    background-color: var(--main-bg-color);
    width: 248px;
    height: 52px;
}

.services__img {
    border-radius: 20px;
    object-fit: cover;
    width: 450px;
}
.services {
    margin-top: 140px;
    margin-bottom: 50px;
}
.service {
    display: flex;
    gap: 40px;
    flex-direction: row;
    margin-bottom: 40px;
}
.service:nth-child(2n) {
    flex-direction: row-reverse;
}

@media (max-width: 1000px) {
    .service {
        flex-direction: column;
    }
    .service:nth-child(2n) {
        flex-direction: column;
    }
    .services__img {
        width: 100%;
        height: 200px;
    }
}